<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="text-center">
    <form id="loginForm" style="max-width:40%;margin:auto;">
      <h1 class="mt-5"> Faça seu login </h1>

      <input type="text" id="userLogin" class="form-control mt-5 mb-3" placeholder="Digite seu login" required autofocus>

      <input type="password" id="userPassword" class="form-control" placeholder="Digite sua senha" required autofocus>

      <button class="btn btn-lg btn-primary btn-block mt-5" style="width: 40%;" type="submit">Entrar</button>
    </form>
    <a href="http://localhost:1313/signup" class="btn btn-lg btn-success mt-3" style="width: 10%;">Cadastre-se</a>
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  document.getElementById("loginForm").addEventListener("submit", function(event) {
    event.preventDefault(); 
    
    var loginValue = document.getElementById("userLogin").value;
    var passwordValue = document.getElementById("userPassword").value;
    
    var data = {
      "login": loginValue,
      "senha": passwordValue
    };

    fetch('http://localhost:8080/users/login', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (!response.ok) {
          if (response.status === 403) {
              return response.text().then(errorMessage => {
                alert(errorMessage || 'Acesso proibido')
                document.getElementById('loginForm').reset();
                throw new Error(errorMessage || 'Acesso proibido');
              });
          } else {
              throw new Error('Erro na requisição');
          }
      }
      return response.json();
    })
    .then(data => {
        localStorage.setItem('token', data.token); 
    })
    .then(userData => {
        window.location.href = `http://localhost:1313/users/userid`;
    })
    })
    .catch(error => {
        console.error('Erro:', error);
    });
</script>
</body>
</html>