<!DOCTYPE html>
<html>
<head>
    <title>Emprestimos Realizados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light justify-content-center fs-3 mb-5" style="background-color: #696D7D;">
        <a href="http://localhost:1313/users/userid" class="btn btn-primary me-2">Meu Perfil</a>
        <a href="http://localhost:1313/livros" class="btn btn-success me-2">Ir para Livros</a>
        Biblioteca POO
        <button id="logoutButton" class="btn btn-danger ms-2">Sair</button>
    </nav>

    <h1 class="text-center">Lista de Emprestimos</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Id do Usuário</th>
                            <th>Data de devolução</th>
                            <th>Retornado</th>
                        </tr>
                    </thead>
                    <tbody id="emprestimos-list">
                        <!-- adiciona as linhas da tabela -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            const token = localStorage.getItem('token');

            const logoutButton = document.getElementById('logoutButton');
        
            logoutButton.addEventListener('click', function() {
                localStorage.clear();
                window.location.href = 'http://localhost:1313/login';
            });

            const cookieString = document.cookie;
            const cookies = cookieString.split(';').map(cookie => cookie.trim());
            let livroId = null;
            for (const cookie of cookies) {
                const [name, value] = cookie.split('=');
                if (name === 'livro_id') {
                    livroId = value;
                    break;
                }
            }

            fetch(`http://localhost:8080/emprestimo/emprestimoslivro/${livroId}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na requisição');
                }
                return response.json();
            })
            .then(emprestimosData => {
                const tableBody = document.getElementById('emprestimos-list');
                
                for (const emprestimoData of emprestimosData) {
                    const row = document.createElement('tr');
                    
                    const idCell = document.createElement('td');
                    idCell.innerText = emprestimoData.id;
                    row.appendChild(idCell);
                    
                    const userCell = document.createElement('td');
                    userCell.innerText = emprestimoData.user_id;
                    row.appendChild(userCell);
            
                    const dateCell = document.createElement('td');
                    dateCell.innerText = emprestimoData.date;
                    row.appendChild(dateCell);
                    
                    const retornadoCell = document.createElement('td');
                    retornadoCell.innerText = emprestimoData.retornado ? 'Sim!' : 'Ainda não';
                    row.appendChild(retornadoCell);
                    
                    tableBody.appendChild(row);
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        });
    </script>
</body>
</html>