<!DOCTYPE html>
<html>
<head>
    <title>Livro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light justify-content-center fs-3 mb-5" style="background-color: #696D7D;">
        <a href="http://localhost:1313/livros" class="btn btn-success me-2">Ir para Livros</a>
        Biblioteca POO
        <button id="logoutButton" class="btn btn-danger ms-2">Sair</button>
    </nav>

    <h1 class="text-center">Informações próprias do livro</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody id="livro-info">
                        <tr>
                            <th>ID:</th>
                            <td id="livroId"></td>
                        </tr>
                        <tr>
                            <th>Titulo:</th>
                            <td id="livroTitulo"></td>
                        </tr>
                        <tr>
                            <th>Autor:</th>
                            <td id="livroAutor"></td>
                        </tr>
                        <tr>
                            <th>Assunto:</th>
                            <td id="livroAssunto"></td>
                        </tr>
                        <tr>
                            <th>Quantidade no Estoque:</th>
                            <td id="livroQuantidade"></td>
                        </tr>
                        <tr>
                            <th>Atualizar informações:</th>
                            <td>
                                <a href="http://localhost:1313/livros/update" class="btn btn-primary">Atualizar</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Apagar livro:</th>
                            <td>
                                <button id="deleteButton" class="btn btn-danger">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            const token = localStorage.getItem('token');

            const logoutButton = document.getElementById('logoutButton');

            const deleteButton = document.getElementById('deleteButton');
        
            logoutButton.addEventListener('click', function() {
                localStorage.clear();
                window.location.href = 'http://localhost:1313/login';
            });

            const cookieString = document.cookie;
            const cookies = cookieString.split(';').map(cookie => cookie.trim());
            let livroId = null;

            for (const cookie of cookies) {
                const [name, value] = cookie.split('=');
                if (name === 'livro_id') {
                    livroId = value;
                    break;
                }
            }

            deleteButton.addEventListener('click', function() {
                const confirmDelete = confirm('Você tem certeza que quer apagar este livro?');
                if (confirmDelete) {
                    fetch(`http://localhost:8080/livros/${livroId}`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao tentar apagar o livro.');
                        }
                        alert('Livro apagado com sucesso.');
                        window.location.href = 'http://localhost:1313/livros';
                    })
                    .catch(error => {
                        console.error('Erro:', error.message);
                        alert(error.message);
                    });
                }
            });
            
            fetch(`http://localhost:8080/livros/${livroId}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 400) {
                        return response.text().then(errorMessage => {
                            throw new Error(`Erro ${response.status}: ${errorMessage}`);
                        });
                    } else if (response.status === 401) {
                        throw new Error('Erro 401: Você não está autorizado para a operação desejada');
                    } else if (response.status === 403) {
                        throw new Error('Erro 403: Você não está autorizado para a operação desejada');
                    } else {
                        throw new Error('Erro ao fazer a requisição. Por favor, tente novamente.');
                    }
                }
                return response.json();
            })
            .then(livroData => {
                document.getElementById('livroId').innerText = livroData.id;
                document.getElementById('livroTitulo').innerText = livroData.titulo;
                document.getElementById('livroAutor').innerText = livroData.autor;
                document.getElementById('livroAssunto').innerText = livroData.assunto;
                document.getElementById('livroQuantidade').innerText = livroData.quantidadeEstoque;
            })
            .catch(error => {
                console.error('Erro:', error.message);
                alert(error.message);
            });
        });
    </script>
</body>
</html>
